{{ attach_library('fgmc_forms/fgmc_forms_custom_css') }}
<h2>{{  title }}</h2>

<div>

<div><p class="preview"><a class="refresh-btn" href="/preview/draft"><img src="/themes/basis/images/refresh.png"></a> Preview Mode</p></div>
{{ data.blocks_info }}
<div class="clearfix"></div>
</div>
