
@media (min-width: 1400px) {
    .container {
      width: 1366px;
    }
}


@media only screen and (max-width: 1400px) {

    .section-0 .banner-caption {
        top: 5%;

        h1 {
        font-size : 36px;
        }
        .tm-slider {
            margin-top: 3%;
        }
    }
    .section-1 .col {
        min-height: 135px;
    }
	.page-footer .footer-top { 
		.contact {
			font-size: 16px;
		}
		 p {
			font-size: 18px;
		}
	}
}


@media only screen and (max-width: 1200px) {
	.container-fluid {
		padding-top: 71px;
	}
    header .logo {
        .slide-menu-open {
            padding-top: 10px;
			    padding-right: 15px;
        }
        img {
            width: 240px;
        }
    }
    footer .footer-bottom {
        padding: 15px 0px 0;
    }
  .section-2 .rate-col {
        margin-bottom: 15px;
    }
    .section-2 .rate-col {
        .rate-heading, .rate-heading2 {
            width: 100%;
        }
        .rate-heading2 {
            margin-top: 0;
        }
    }
    
.section-0 .home-banner {
        background-position: 50% !important;  
    }
  .section-1 {
      background: #e2f4f8;
      .lightPink {
      background: #e2f4f8;
    height: auto !important;
    text-align: center;
        border-right: 0;
    &:last-child {
        padding-left: 15px;
    }
}
  }
.section-6{
  text-align: center;

}
 .section-6 .text-right {
    text-align: center;
}
 .section-6 .custom-btn {
    margin-bottom: 15px;

}

footer {
    text-align: center;
    .footer-top {
        .border-left {
        border-left: none;
        padding-left: 0;
    }
}
    .text-right {
      text-align: center !important;
    }
}
.cascade-slider_item .konw-slide {
    width: 100%;
    margin-left: 0;
    font-size: 15px;
}

.cascade-slider_item.now {
    width: 600px;
}
.cascade-slider_item.prev {
    display: none;
}
.cascade-slider_item.next {
    display: none;
}

.product-slide {
    display: none;
}
.cascade-slider_arrow-left {
  display: block !important;
  
  }

.cascade-slider_arrow-right { 
  display: block !important;

}
.page-footer {
    .footer-top {
        .social {
            li {
                &:first-child {
                    display: block;
                }
            }
        }
        .contact {
                    text-align: center;
            li {
                &:first-child {
                    display: block;    
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
.mob-search {
    top: 72px;
}
footer .footer-bottom p {
    padding: 5px 0;
}
.section-6 img {
    margin-bottom: 0;
}
.section-6 h4 {
    padding: 0;
}
footer .footer-top .contact li {
    display: inline-block;
    margin-right: 5px;
}
.section-6, .section-2 {
    padding: 15px;
}
.cascade-slider_container {
   margin-bottom: 0px;
}
footer .footer-top .contact {
    margin-top: 10px;
}
.edit_homesections {
	&.edu_section {
		margin-top: 0;
	}
}
}

@media only screen and (max-width: 991px) {
 .section-0 .banner-caption {
    width: 100%;
    padding: 20% 0 0;
     h1 {
        text-align: left;
        background: rgba(255, 255, 255, 0.8);
        padding: 15px;
        margin:0;
    }
    h2 {
        margin:0;
    }
    .loan-option {
        background: rgba(255, 255, 255, 0.8);
        padding: 15px;
    }
    .tm-slider {
        margin: 0 auto;
        width: 100%;
        background: #fff;
        .bx-wrapper {
            margin: 0 auto;
            padding: 20px 0px;
        }
    }
}

.section-0 .bbb-icon {
    padding: 1%;
}
.lightPink {
    .borderT {
        border-top: 1px solid #ccc; 
        margin-top: 15px;
    }
}
ul.mob-side-nav{
    margin-bottom: 15px;
    li {
            display: inline-block;
			.btn-success {
				padding: 6px 20px;
			}
        }
    } 
    .page-footer {
        padding: 10px 25px 0 25px;
        .footer-top .contact li {
            padding-left: 0;
        } 
    }

    .section-5 {
        padding: 15px;
        .bxslider .col-item .desc ul{			
            text-align: center;
            padding-left: 5px;
			li:before {    
				left: -5px;				
			}
        }
    }
    .section-6, .section-4, .section-1 .lightPink{
            padding: 15px;
    }
    .section-4 {
		.col h5 {
			font-size: 26px;
		}
		.padd40 {
			padding: 20px 15px;
		}
	}
    .section-6 h4 {
        padding: 0;
    }
    .num-block {
        margin: 0 auto;
        float: none;
    }
    footer .footer-top .contact {
    li{ display:block !important; word-wrap: break-word;
    padding: 0;
    }    
    img{        
        display: block;
        margin: 0 auto !important;
        margin-bottom: 10px;
    }
}
h4 {
    font-size: 26px;
}
.section-2 {
    padding: 10px 15px;
    .rate-col {
        text-align: center;
        .rate-heading {
            float: none;
            margin-right: 0px;
            margin-bottom:5px;
            display: block;
        }
        .rate-heading2 {
            float: none;
            margin-right: 0px;
            margin-bottom:5px;
            display: block;
        }
    }
}
.edit_homesections { display:none;}
.vertical-align {
    display: block;
	.col-md-9 {	
		display: block;	
	}
}
}


@media screen and (max-height: 767px) {
  .section-0 {
      #menu12 {
            position: static;
            right: 0;
            width: 100%;
            top: 0;
            z-index: inherit;
            height: 68px;
        }
      .quick-rate-btn {
          float: none;
          text-align: center;
          border-radius: 0;
      }
      #quick-rate {
          position: absolute;
          top: 70px;
          right: 0;
          left: 0;
          margin: 0 auto;
      }
	  
	}
}


@media only screen and (max-width: 767px) {

    //table responsive
	.Investment-table, .cal-table, .amt_table_calc  {
	display: block !important; 
    thead,  tbody,  th, td,  tr,tr.collapse.in, tfoot { 
        display: block !important; 
    }
    thead{
        border: 0 !important;
    }
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    } 
    // tr { border: 1px solid #ccc; } 
    td {                         
        border: none;                    
        position: relative;
        padding-left: 50% !important; 
        white-space: normal;
        text-align:left;
    } 
    td:before, {                         
        position: absolute;                          
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    td:before { content: attr(data-title); }
	tbody tr td + td, table tfoot tr td + td {
		text-align: left !important;
	}
	tr > td::after {
		content: "";
		position: absolute;
		border-left: 1px solid #b5b5b5;
		top: 0;
		bottom: 0;
		left: 48%;
	}
	}

    h1 {
    font-size: 30px;
    }
  header {
    .loginNav {
        text-align: center !important;         
        .search-wrap {
            display:block;
            margin-top: 10px;
            .searchIcon {
                width: 250px;
                margin: 0 auto;
            }
        }
    }

  }
  .section-0 {
      #menu12 {
            position: static;
            right: 0;
            width: 100%;
            top: 0;
            z-index: inherit;
            height: 68px;
        }
      .quick-rate-btn {
          float: none;
          text-align: center;
          border-radius: 0;
      }
      #quick-rate {
          position: absolute;
          top: 70px;
          right: 0;
          left: 0;
          margin: 0 auto;
      }
      
    .home-banner {
        background-position: 75% !important;  
    }
    .banner-caption {
        padding: 30% 0 0;
    .tm-slider {
    margin: 0 auto ;
    width: 100%;
    padding: 0 40px;
    .bx-wrapper {
            ul li > .col-sm-8 {
                border-bottom: 1px solid #999;
                border-right: none;
            } 
        }
    }
	h1, .loan-option {
		text-align: center;
	}
  } 
  .bbb-icon {
    display:none;
}
}
.section-0 .banner-caption .tm-slider .bx-wrapper ul li .col-sm-8 {
    border-right: 0px;
}

footer {
    padding: 20px 20px 0 20px;
}
.cascade-slider_container {
    height: 650px;
    margin-bottom: 20px;
    width: 100%;
}
.sky.know-slider {
    padding: 10px 0 0;
	.know-slide {width:100%;}
}
.cascade-slider_item .konw-slide {
    position: static;
}
.cascade-slider_item.now {
    width: 100%;
}
.cascade-slider_item .slide {
    height: auto;
}
.cascade-slider_item .slide {
.body {
    .content {
        height: auto;
        margin-bottom: 10px;
    }
}
.footer {
    position: static;
}
}  
.cascade-slider_arrow {
    background-color: gainsboro;
}
span.cascade-slider_arrow.cascade-slider_arrow-left {
    background-position: 0px 0px;
    left: -15px;
}
span.cascade-slider_arrow.cascade-slider_arrow-right {
    background-position: -45px -2px;
    right: -15px;
}
footer .footer-top .contact {
    margin-top: 15px;
    li {        
        &:first-child {
            display: none;
        }
    }
}
.mob-contact{
    margin-left: 0 !important;
}
ul.loginNav.text-right {
    float: right;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 991 !important;
}
.mob-search .input-group input.form-control {
    font-size: 18px;
}
.cus_name {
    margin-top: 10px;
}
.section-5 .bxslider .col-item {
    min-height: 240px;
    ul li {
        font-size: 14px;
    }
}
.section-6 img {
    margin-bottom: 20px;
}
.accordion .accordion-head.open .active-header {
                display: none;
}

.accordion .accordion-head.open .active-text {
                display: block;
                clear: left;
                margin: 0;
}
.tm-slider{
    .bx-wrapper .bx-prev {
        left: -35px;
    }
    .bx-wrapper .bx-next {
        right: -35px;
    }
}

.table-responsive>.table>tbody>tr>td{
    white-space: normal!important;
}
a.skyTx.terms-btn.pull-right {
    width: 100%;
    margin: 15px 0;
}
/*
.landing-page-header .landing-contact {
        margin-right: 0;
    text-align: right !important;
}*/
.section-2 {
	.rate-section-footer {
		.rate-content, p.pull-right, {
			display: block;
			float: none !important;
			text-align: center;
			margin-bottom: 10px;
		}
	}
}
.qr_search_results table > tbody > tr > td {
	font-size: 16px;
}
}



@media only screen and (max-width: 600px) {

.cascade-slider_item .konw-slide {
   top:-310px;
}
 .nav-logo {
     display: none;
 }
 .side-menu-wrapper .side-nav li a {
    padding: 5px 0;
}
.mob-search {
    width: 100%;
    float: left;
    margin-top: 10px;
    top:0;
    position: relative;
}
}

@media screen and (max-width: 480px) {
	.container-fluid {
		padding-top: 62px;
	}
      .cascade-slider_container {
    height: 800px;
  }
	body, .font-md {
		font-size: 16px;
	}
	h1, h2, h3, h4, .section-1 h4 {
        font-size: 28px;
        p{
             font-size: 28px;
        }
    }
    h5 {
        font-size: 20px;
        p{
             font-size: 28px;
        }
    }
    
    .section-0 .banner-caption {
        .tm-slider .bx-wrapper ul li {
        font-size: 16px;
    }
    .btn-success {
        padding: 6px 16px;
        font-size: 16px;
        margin-top: 10px;
        margin-right: 10px;
    }
    } 
    .section-1 p {
        font-size: 16px;
    }
    .section-5 .bxslider .col-item ul {
        padding-left: 15px;
    }
    .section-4 .col h5 {
        font-size: 24px;
    }
    .qr_search_results table > tbody > tr > td {
        font-size: 16px;
    }
    ul .mobile-wrap img {
            width: 34px;
            top: -4px;
            position: relative;
    }
    header .logo {
	img {
        width: 138px;
        height: auto;
        margin-top: 10px;
    }
	}
    li.search-btn {
        margin-left: 0 !important;
    }
    .searchIcon {
        top: -5px;
    }
    .btn-success {
        font-size: 16px;
    }
    .section-0 #quick-rates .nav-tabs li a {
                padding: 10px 20px;
    }

    .qr_search_results {
                    padding: 0;
    }

    .arrow::after {
                    right: 5px;
    }

    .accordion .accordion-head h4 {
                    font-size: 14px;
    }

    .section-0 {
		.banner-caption h1 {
			font-size: 22px;
		}
	}	
    .loan-option h2 {
			font-size: 22px;
	 }

    footer .footer-top .contact li {
        font-size: 16px;
    } 
    .section-2 .rate-col .font-md {
        font-size: 18px;
    } 
} 