
<section class="section-6 container paddT-0">
		<div class="row">
		<hr>
		<h4 class="text-center padCT">{{block_data.block_title | raw}} </h4>
		<div class="text-center paddTB15">{{block_data.block_desc | raw}} </div>
		
		<div class="text-center">
			<button class="btn btn-success" onclick="location.href='/careers'">Learn More</button>
		</div>
		</div>
	</section>