<footer class="page-footer row landing-page-footer">
				<p>Disclaimer: Rates and fees you receive from lenders in the Bankrate Marketplace are based on the information you provided. Initial quotes through the Bankrate Marketplace are not binding Good Faith Estimates because the lender is not able to verify your identity or credit history. Your final quote, rates, and fees may differ when you close with a lender; however, each lender has agreed to Bankrate Code of Conduct and Terms of Use and should provide you an accurate estimate based on your stated information.</p>
			<div class="row footer-bottom">
				<div class="col-lg-12">
					<ul>
						<li>
							<a href="javascript:void(0)" class="home"> </a>
						</li>
						<li>
							<b> NMLS Consumer Access #2917</b>
						</li>
						<li class="pull-right paddT10">
							<b> &copy; 2000-2016 goodmortgage.com. All right reserved.</b>
						</li>
					</ul>
				</div>
			</div>
		</footer>