<div class="col-md-4 col-sm-6 col-xs-8 logo">
    <div class="slide-menu-open">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </div>
    <a href="/">{{logo | raw}}</a>
    
</div>

{#<p{{ block_data }}</p>  #}