<div class="col-lg-3 col-sm-4">
    <ul class="header-nav">
        {% for key, item in menu_items %}
        <li><a href="{{ item.url }}"> {{ item.title }}</a> </li>
        {% endfor %}
    </ul>
</div>{{title}}