	
<section class="section-6">
<div class="container">
        <div class="row">
                <div class="col-lg-6">
                        <h4>{{block_data.block_title | raw}}</h4>
                        <div class="font-md">{{block_data.block_desc | raw}}</div>
                        <div class="paddTB15">
                        <button type="button" class="btn btn-success" onclick="location.href='/mortgage_school_detail'">
                         Educate me
                        </button>
                        </div>
                        </div>
                        <div class="col-lg-6 ">
                        <div class="row">
                                <div class="col-lg-12 col-sm-6 text-right">
                                        <img src="/{{ base_path ~ directory }}/images/video01.png">
                                </div>
                                <div class="col-lg-12 col-sm-6 text-right">
                                        <img src="/{{ base_path ~ directory }}/images/video02.png">
                                </div>
                        </div>
                </div>
        </div>
</div>
</section>