<div class="container-fluid">
		<header class="row">                    
			<div class="region region-header">
				<div id="block-logoblock" class="block block-customise block-logo-block">		  
			
					<div class="col-lg-4 logo">						
						<a href="javascript:void(0);"><img src="/themes/basis/images/logo.png" /></a>
					</div>
				</div>
			</div>
			<div id="block-menublock" class="block block-customise block-menu-block"> 
			
				<div class="col-lg-3">
				<ul class="header-nav">
						<li><a href="javascript:void(0);"> Home</a> </li>
						<li><a href="javascript:void(0);"> Apply</a> </li>
						
				</ul>
				</div>
			</div>
		</header>
                     
		<section class="section-0 row">
                    {{ page.contenttop }}
		</section>
		{{ page.content }}
		
		<section class="footer">
                 {{ page.footer }}
		</section>
	</div>
